
{% extends 'store/main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% block content %}

    <div class="row">

        <div class="col-lg-6">
            <div class="box-element" id ='form-wrapper'>

                <form action="" class="form">
                    {% csrf_token %}
                    <div class="user-info">
                        
                        <div class="form-field">
                            <input type="text" name="name" placeholder = 'Name..' required class = 'form-control'>
                        </div>

                        <div class="form-field">
                            <input type="email" name="email" placeholder = 'Email..' required class = 'form-control'>
                        </div>

                    </div>
<br>
                    <div id ="shopping-info">

                        <h5>Shopping Details..</h5>

                        <div class="form-field">
                            <input type="text" name="Address" placeholder = 'Address..' required class = 'form-control'>
                        </div>

                        <div class="form-field">
                            <input type="text" name="city" placeholder = 'City..' required class = 'form-control'>
                        </div>

                        <div class="form-field">
                            <input type="text" name="state" placeholder = 'State..' required class = 'form-control'>
                        </div>

                        <div class="form-field">
                            <input type="text" name="zipcode" placeholder = 'Zip Code..' required class = 'form-control'>
                        </div>

                    </div>
                    <br>
                        <div class="box-element hidden" id="payment-info">
                            <small>Paypal Options</small>
                            {% comment %} <button id = 'make-payment'> Make Payments</button> {% endcomment %}
                            <div id = 'paypal-button-container'></div>
                        </div>

                    <input id = 'form-button' type="submit" value = 'Continue' class = 'btn btn-info btn-block'>
                </form>

            </div>

        </div>

        <div class="col-lg-6">
            <div class="box-element">

                <a  class = 'btn btn-outline-info' href="{% url 'cart' %}"> &#x2190 Back to Cart</a>
                <br>
                <br>
                <h3>Order Summary</h3>
                {% for item in items%}
                <div class="cart-row">

                    <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>${{item.product.price | floatformat:2}}</p></div>
                    <div style="flex:1"><p>x{{item.quantity}}</p></div>

                </div>
                {% endfor %}
                <h5>Items:   {{order.get_cart_items}}</h5>
                <h5>Total:   ${{order.get_cart_total |floatformat:2}}</h5>

            </div>
        </div>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id=ARcND8rZYB2i636tbJmdj15YDjxq7XXwn-ITjcUO0gIWApMDksGJl0fYfQmx-T4NwppQeuYiV90RY1G4&currency=USD&disable-funding=credit"></script>


    <script>

        var total =     '{{order.get_cart_total}}'
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons(

            style:{ 
                color: 'blue',
                shape: 'rect',
            }
            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    //console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    //var transaction = orderData.purchase_units[0].payments.captures[0];
                    submitFormData()
                    //alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }


        }).render('#paypal-button-container');

    </script>

    <script type = 'text/javascript'>
        var shipping = '{{order.shipping}}'
       // var total = '{{order.get_cart_total}}'


       if (user != 'AnonymousUser'){
            document.getElementById('user-info').innerHTML = ''
        }

        if (shipping == "False" && user != 'AnonymousUser'){

            //Hide entire form if user is logged in and shipping is false
            document.getElementById('form-wrapper').classList.add("hidden");

            //Show payment if logged in user wants to buy an item that does not require shipping
            document.getElementById('payment-info').classList.remove("hidden");
        }

        //checking items
        var form = document.getElementById('form')
        csrf_token = form.getElementByTagName('input')[0].value
        console.log('Newtoken:', form.getElementByTagName('input')[0].value)

		form.addEventListener('submit', function(e){
	    	e.preventDefault()
	    	console.log('Form Submitted...')
	    	document.getElementById('form-button').classList.add("hidden");
	    	document.getElementById('payment-info').classList.remove("hidden");
	    })


        //{document.getElementById('make-payment').addEventListner('click', function(e){
           // submitFormData()
       // }) 
        

	    function submitFormData(){
	    	console.log('Payment button clicked')

	    	var userFormData = {
				'name':null,
				'email':null,
				'total':total,
			}

			var shippingInfo = {
				'address':null,
				'city':null,
				'state':null,
				'zipcode':null,
			}

			if (shipping != 'False'){
	    		shippingInfo.address = form.address.value
		    	shippingInfo.city = form.city.value
		    	shippingInfo.state = form.state.value
		    	shippingInfo.zipcode = form.zipcode.value
	    	}

	    	if (user == 'AnonymousUser'){
	    		userFormData.name = form.name.value
	    		userFormData.email = form.email.value
	    	}

	    	console.log('Shipping Info:', shippingInfo)
	    	console.log('User Info:', userFormData)

	    	var url = "/process_order/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
	    			'X-CSRFTOKEN':csrftoken,
	    		}, 
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
	    		
	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				console.log('Success:', data);
				alert('Transaction completed');  

				cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

				window.location.href = "{% url 'store' %}"

				})
	    }

    </script>
{% endblock content %}
